@{
	ViewData["Title"] = "Anasayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/anasayfa.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
	<title>ApartEv.com</title>


</head>

<body >
	<div class="kutu">
		<a href="/Apart/Yıllık" class="btn btn-dark" style="background-color:cornflowerblue " >Yıllık</a>
	</div><div class="kutu">
		<a href="/Apart/Yıllık" class="btn btn-dark" style="background-color:brown">Aylık</a>
	</div><div class="kutu">
		<a href="/Apart/Yıllık" class="btn btn-dark" style="background-color:cadetblue">Günlük</a>
	</div>
	
	

</body>

</html>